# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @DevAgani, @tibor-is-back and @burgbart will be requested for
# review when someone opens a pull request.
*      @DevAgani @tibor-is-back @burgbart @Backbase/mobile-leadership

